<div class="container-fluid">
    <h2>Here are your blogs...</h2>

    <ul>
        {{#each blogs}}
        <li>
            <h1>{{this.title}}</h1><br>
        </li>
        <li>{{this.description}}</li><br>
        <li>{{{this.sanitizedHtml}}}</li>
        {{/each}}

    </ul>

</div>